body {
    padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}

nav a {
    text-decoration: none;
	font-size: 13px;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding: 5px 6.7px
}

nav a:hover {
	text-decoration: underline;
}

nav img {
	width: 24px;
    height: 24px;
	padding: 8px;
	cursor: pointer;
}

#signIn {
	border: 1px solid transparent;
	text-decoration: none;
	font-weight: 500;
	background: #1a73e8;
	color: #fff;
	letter-spacing: .25px;
	font-size: 14px;
	padding: 9px 15px;
	border-radius: 4px;
	margin-left: 8px;
	cursor: pointer;
	min-width: 80px;
	width: 96px;
}

#signIn:hover {
	background: #1b66c9;
	box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),
				0 1px 2px 0 rgba(60,64,67,.3);
}

section {
	flex: 1;
}

section .logo {
	display: block;
}

.logo {
    margin: auto;
	margin-top: 22vh;
    width: 272px;
    height: 92px;
}

.searchContainer {
	width: 580px;
	margin: auto;
	margin-top: 3vh;
	position: relative;
	text-align: center;
}

.searchBox {
	display: block;
	border: 1px solid #dfe1e5;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 24px;
	width: 90%;
	outline: none;
}

.searchBox:hover {
	border: 1px solid #fff;
	border-color: rgba(223,225,229,0);
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search-icon {
	width: 20px;
	opacity: .4;
	position: absolute;
	top: 13px;
	left: 14px;
}

#clearAllInput {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	right: 115px;
	cursor: pointer;
	color: #70757a;;
}

#divider {
	border-left: 1px solid #dadce0;
    height: 25%;
	top: 7px;
	right: 90px;
	position: absolute;
}

.googleLens {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 11px;
	right: 16px;
	cursor: pointer;
}

.googleVoice {
	width: 14px;
	height: 20px;
	position: absolute;
	top: 13px;
	right: 60px;
	cursor: pointer;
}

.searchButton, .lucky{
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
	padding: 9px 15px;
	color: #3c4043;
	font-size: 14px;
	border-radius: 4px;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
}

.lucky {
	text-decoration: none;
}

.searchButton:hover, .lucky:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


.languages {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #111;
}

.languages a {
	text-decoration: none;
	padding: 0 3px;
	color: #1a0dab;
}

.languages a:hover {
	text-decoration: underline;
}

footer {
	background: #f2f2f2;
}

footer .country {
	color: #202124;
	font-size: 15px;
	padding: 15px 35px;
}

footer a {
	text-decoration: none;
	color: #202124;
	display: inline-block;
	padding: 15px;
	font-size: 14px;
}

footer a:hover {
	text-decoration: underline;
}

.links {
	padding: 0 20px;
	border-top: 1px solid #ddd;
	display: flex;
}

.link-left {
	flex: 1;
}

.popup {
    position: relative;
    display: inline-block;

}

.popuptext {
	width: 154.47px;
	height: 238px;
	visibility: hidden;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    left: -160px;
    bottom: 160%;
	display: block;
	padding: 5px 0;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}

.popuptext a {
	cursor: pointer;
	padding: 4px 16px;
}


/* Toggle chained class to show/hide popups */
.popup.show .popuptext {
    visibility: visible;
}